.dialog {
    display: flex;
    align-items: center;
    color: white;
    margin-bottom: 10px;
}

.dialog:hover {
    color:goldenrod;
}

.name {
    color: white;
    text-decoration: none;
    font-weight: 700;
}

.avatar {
    margin-right: 10px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}